{% extends 'index.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load task_manager_tags %}
{% block content %}
<h1 class="my-4">{{ meta.Main.Statuses }}</h1>
    <a class="nav-link" href="{% url 'statuses-create' %}">{{ meta.Statuses.CreateStatus }}</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ meta.Main.Id }}</th>
        <th>{{ meta.Main.Name }}</th>
        <th>{{ meta.Main.DateOfCreate }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if statuses %}
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.status_name }}</td>
                <td>{% date_format status.date_of_creation %}</td>
                <td>
                    <a href="{% url 'status-update' status.id %}">{{ meta.Main.Update }}</a>
                    <br>
                    <a href="{% url 'status-delete' status.id %}">{{ meta.Main.Delete }}</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}