{% extends 'index.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}

    {% block type_of_changing %}{% endblock %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_label meta.Main.Name %}
        {% bootstrap_field form.task_name show_label=False placeholder=meta.Main.Name %}
        {% bootstrap_label meta.Main.Description %}
        {% bootstrap_field form.description show_label=False placeholder=meta.Main.Description %}
        {% bootstrap_label meta.Statuses.Status %}
        {% bootstrap_field form.status show_label=False placeholder=meta.Statuses.Status %}
        {% bootstrap_label meta.Users.Executor %}
        {% bootstrap_field form.executor show_label=False placeholder=meta.Users.Executor %}
        {% bootstrap_label meta.Main.Labels %}
        {% bootstrap_field form.labels show_label=False placeholder=meta.Main.Labels %}

        {% block button %}{% endblock %}

    </form>

{% endblock %}