{% extends 'index.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}

    {% block type_of_changing %}{% endblock %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_label meta.Users.FirstName %}
        {% bootstrap_field form.first_name show_label=False placeholder=meta.Users.FirstName %}
        {% bootstrap_label meta.Users.LastName %}
        {% bootstrap_field form.last_name show_label=False placeholder=meta.Users.LastName %}
        {% bootstrap_label meta.Users.UserName %}
        {% bootstrap_field form.username show_label=False placeholder=meta.Users.UserName %}
        {% bootstrap_label meta.Users.Password %}
        {% bootstrap_field form.password1 show_label=False placeholder=meta.Users.Password %}
        {% bootstrap_label meta.Users.PasswordApproval %}
        {% bootstrap_field form.password2 show_label=False placeholder=meta.Users.PasswordApproval %}

        {% block button %}{% endblock %}

    </form>

{% endblock %}