{% extends 'layout.html' %}

{% block log_In_or_Out %}
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}">{{ meta.Users }}</a>
            </li>
        </ul>

        {% if request.user.is_authenticated %}

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/statuses/">{{ meta.Statuses }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/labels/">{{ meta.Labels }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/tasks/">{{ meta.Tasks }}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <form action="{% url 'logout' %}" method="post">
                      {% csrf_token %}
                      <input class="btn nav-link" type="submit" value={{ meta.LogOut }}>
                </form>
            </ul>

        {% else %}

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">{{ meta.Enter }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users-create' %}">{{ meta.Registration }}</a>
                </li>
            </ul>

        {% endif %}

    </div>

{% endblock %}

{% block content %}

<h1 class="my-4"></h1>
<h1 class="my-4"></h1>
<div class="card">
    <div class="card-body p-5 bg-light">
        <div class="display-4">{{ meta.Greetings }}</div>
        <p class="lead">{{ meta.Courses_name }}</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io/">{{ meta.About }}</a>
    </div>
</div>

{% endblock %}