{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url "index" %}">{{ project_name }}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://python-task-manager-ru.hexlet.app/users/">{{ users }}</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://python-task-manager-ru.hexlet.app/login/">{{ enter }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://python-task-manager-ru.hexlet.app/users/create/">{{ registration }}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container wrapper flex-grow-1">
    <h1 class="my-4"></h1>
    <h1 class="my-4"></h1>
    <div class="card">
        <div class="card-body p-5 bg-light">
            <div class="display-4">{{ greetings }}</div>
            <p class="lead">{{ courses_name }}</p>
            <hr>
            <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io/">{{ about }}</a>
        </div>
    </div>
</div>
<footer>
    <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://ru.hexlet.io/">{{ hexlet }}</a>
    </div>
</footer>
</body>
</html>